@using System.Reflection
@using BSG.App.Common.Helpers
@using BSG.App.User.Pages
@using BSG.States

@inject IGeneralState GeneralState
@inject Bootstrap Bootstrap

<Router AppAssembly="@typeof(App).Assembly"
        AdditionalAssemblies="@_assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private List<Assembly> _assemblies = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _assemblies =
        [
            typeof(MainLayout).Assembly,
            typeof(UserManager).Assembly
        ];

        GeneralState.Metadata = await Bootstrap.GetMetadata();
    }
}
