@using Microsoft.AspNetCore.Components.Routing

@inject NavigationManager Navigation

<div style="padding: 1rem">
    <RadzenTextBox id="find" Placeholder="Search ..." type="search"
                   @oninput="@FilterPanelMenu" style="width: 100%" class="rz-search-input" aria-label="find"/>
</div>
<div style="flex: 1; overflow: auto">
    <RadzenPanelMenu Match="NavLinkMatch.Prefix">
        <RadzenPanelMenuItem Text="Home" Click="@Navigate"/>
        <RadzenPanelMenuItem Text="Counter" Click="@Navigate"/>
        <RadzenPanelMenuItem Text="Weather" Click="@Navigate"/>
        <RadzenPanelMenuItem Text="Users" Click="@Navigate"/>
    </RadzenPanelMenu>
</div>

@code
{
    private void FilterPanelMenu(ChangeEventArgs args)
    {
        var filter = args.Value?.ToString();
    }

    private void Navigate(MenuItemEventArgs args)
    {
        Console.WriteLine(args.Text);

        switch (args.Text.ToLower())
        {
            case "users":
                Navigation.NavigateTo("user");
                break;
            case "counter":
                Navigation.NavigateTo("counter");
                break;
            case "weather":
                Navigation.NavigateTo("weather");
                break;
            default:
                Navigation.NavigateTo("/");
                break;
        }
    }
}



@*@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@